<!-- <div *ngIf="post">
    <ul *ngFor="let item of post | async">
        <li>
            {{ item.title }}
        </li>
    </ul>
</div> -->

<!-- <button (click)="prevPage()">Prev</button>
<button (click)="nextPage()">next</button> -->
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="card" *ngFor="let post of posts">
    <div class=" list-item ">
        <p>{{ post.title }}</p>
    </div>
</div>
<button (click)="cargar()">cargar mas</button>